GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash,gemini-flash-latest
GEMINI_MODEL_FALLBACK=gemini-2.0-flash-lite,gemini-2.0-flash
GEMINI_MODEL_FALLBACK_2=gemini-2.0-flash-exp,gemini-flash-latest
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
BLOGGER_BLOG_ID=
